body {
  height: 100%;
  width: 100%;
}

html {
  background: url(/images/mobile/background-pre-mobile-.jpg) no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.breadcrumbs {
  display: inline-flex;
  list-style-type: none;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: white;
}

.breadcrumbs a {
  color: var(--white-color);
  text-decoration: none;
}

.breadcrumbs a:hover {
  color: var(--primary-color);
}

.fas {
  padding: 0 10px;
}

h1 {
  /*   padding-top: 3rem; */
  line-height: 1.2;
  margin: 0;
  font-size: 2.4rem;
  /* text-align: center; */
}

.container {
  display: flex;
  /*   flex-direction: row; */
  flex-wrap: wrap;
  margin: auto;
  color: white;
}

.img-details-info-wrap {
  width: 50%;
  height: 1000px;
  /*   border: red solid thin; */
  padding: 1rem;
}

.img-header {
  width: 100%;
  height: 55%;
  object-position: center;
  object-fit: cover;
}

.img-add {
  width: 200px;
  /*   height: 300px; */
  object-position: center;
  object-fit: cover;
  margin-top: 1rem;
}

.game-details {
  display: flex;
  justify-content: space-between;
}

.genre,
.platform,
.requirements,
.publish {
  list-style: none;
  padding: 0;
  line-height: 1.5;
}

.platform {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}

.platform span {
  margin-right: 20px;
}

.hidePlat {
  display: none;
}

.plat-logo {
  width: 23px;
  margin: 5px;
  /* object-position: center; */
  /*   border: red solid thin; */
}

.ps4 {
  width: 34px;
}

.vita {
  width: 100px;
}

.android {
  width: 40px;
}

.xbox {
  width: 26px;
}

.xbox-series {
  width: 33px;
}

.ios {
  width: 25px;
}

h3 {
  color: var(--primary-color);
  /*   font-style: lighter; */
}

/* .platform {
  display: flex;
} */

.details-header {
  display: flex;
}

/* .plat-list {
  padding: 10px;
} */

.intro-heading {
  width: 50%;
  padding: 0 3rem 0 1.5rem;
  /*   border: red solid thin; */
}

.rate {
  display: flex;
  /*   height: 40px; */
  align-items: center;
  text-align: center;
  margin: 1rem auto;
}

.ratings-box {
  /*  padding: 10px; */
  display: flex;
  /* background-color: var(--white-color); */
  border-radius: 6px;
  color: white;
  align-items: center;
  width: 100%;
  /*  flex-direction: column; */
  /*  justify-content: space-around; */
}
/* 
style= "color: lightblue"  */

.flex-platform-release {
  display: flex;
  justify-content: space-between;
  /*   margin: 1rem; */
}

.recommended-box {
  padding: 5px 10px;
  color: black;
  /*   border-radius: 6px; */
  width: 100%;
}

.exceptional {
  background-color: lightblue;
}

.skip {
  background-color: red;
}

.meh {
  background-color: orange;
}

.recommendedrate {
  background-color: lightgreen;
}

.recommended {
  display: flex;
  /*   padding: 10px; */
  width: 100%;
  /*   height: 65px; */
  /*   text-align: left; */
}

.recommended p {
  margin: 0;
}

/* .ratings-box p {
  margin: 0;
  padding: 0;
}

.rating-head {
  background-color: rgb(247, 184, 68);
  width: 80px;
  padding: 5px;
  margin: 0;
}
*/

.intro-text {
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.2;
}

/* .buy {
  position: relative;
  width: 243px;
  height: 325px;
  margin: auto;
  margin: 2rem 0;
} */

#buy {
  margin: 3rem 0;
}

@media only screen and (min-width: 640px) {
  h1 {
    font-size: 2.8rem;
    text-align: left;
    /*     margin-left: 2rem; */
  }
}

@media only screen and (min-width: 1050px) {
  h1 {
    font-size: 4.4rem;
    text-align: left;
    /*     margin-left: 2rem; */
  }
}
