body {
  height: 100%;
  width: 100%;
}

html {
  background: url(/images/mobile/background-pre-mobile-.jpg) no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* MOBILE */

.breadcrumbs {
  display: inline-flex;
  list-style-type: none;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: white;
}

.breadcrumbs a {
  color: var(--white-color);
  text-decoration: none;
}

.breadcrumbs a:hover {
  color: var(--primary-color);
}

h1 {
  position: absolute;
  top: -5rem;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 1.2;
  font-size: 2.4rem;
}

.fas {
  padding: 0 10px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column; /*///////////////// DONEONEONDONE */
  color: white;
  margin: auto;
  margin-top: 6rem;
}

.gameinfo,
.system {
  display: none; /*///////////////// DONEONEONDONE */
}

.img-details-info-wrap {
  width: 100%; /*///////////////// NEW */
  /* width: 50%; */ /*/----------------- OLD */
  height: 600px; /*///////////////// NEW */
  /* height: 1000px; */
  padding: 1rem;
}

.img-header {
  width: 100%;
  height: 100%; /*///////////////// NEW */
  /* height: 55%; */ /*/----------------- OLD */
  object-position: center;
  object-fit: cover;
}

.img-add {
  width: 200px;
  object-position: center;
  object-fit: cover;
  margin-top: 1rem;
}

.game-details {
  display: flex;
  justify-content: space-between;
}

.flex-platform-release {
  display: flex;
  flex-direction: column; /*///////////////// NEW */ /* DOENDONEONDONEONDONE */
  /* justify-content: space-between; */ /*/----------------- OLD */
}

.genre,
.platform,
.requirements,
.publish {
  list-style: none;
  padding: 0;
  line-height: 1.5;
}

.platform {
  display: flex;
  align-items: center;
  justify-content: space-between; /*//////////////// DONEODONEONDONEONDE */
}

.platform span {
  margin-right: 20px;
  display: none; /*//////////////// DNIODNODNOE */
}

/* ----------- */

.rate {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1rem auto;
  width: 280px; /*//////////////// DONDONDOEONDOE */
}

.ratings-box {
  display: flex;
  border-radius: 6px;
  color: white;
  align-items: center;
  width: 100%;
}

.recommended {
  display: flex;
  width: 100%;
  flex-direction: column; /*//////////////// DIODOENDONEODNE */
}

/* .recommended p {     
  margin: 0;
} */
/*----------------- OLD */
.recommended p {
  margin: 4px 0; /*//////////////// NEW */
}

/* ----------- */

.hidePlat {
  display: none;
}

.plat-logo {
  width: 23px;
  margin: 5px;
}

.ps4 {
  width: 34px;
}

.vita {
  width: 100px;
}

.android {
  width: 40px;
}

.xbox {
  width: 26px;
}

.xbox-series {
  width: 33px;
}

.ios {
  width: 25px;
}

h3 {
  color: var(--primary-color);
}

.details-header {
  display: flex;
}

.intro-heading {
  /* width: 50%; */ /*/----------------- OLD */
  text-align: center; /*//////////////// NEW */
  width: 100%; /*//////////////// NEW */
  /* padding: 0 3rem 0 1.5rem;   */ /*/----------------- OLD */
  padding: 0 1rem;
}

#buy {
  margin: 3rem auto; /*/ /////////////// AUTO IS NEW / 0 */
}

.recommended-box {
  padding: 5px 10px;
  color: black;
  /*   border-radius: 6px; */
  width: 100%;
}

.exceptional {
  background-color: lightblue;
}

.skip {
  background-color: red;
}

.meh {
  background-color: orange;
}

.recommendedrate {
  background-color: lightgreen;
}

.intro-text {
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.2;
}

@media only screen and (min-width: 640px) {
  h1 {
    font-size: 2.8rem;
    position: relative;
    line-height: 1.2;
    margin: 0;
    font-size: 2.4rem;
    top: initial;
    left: initial;
    right: initial;
  }

  .container {
    flex-direction: row; /*///////////////// NEW */
  }

  .gameinfo,
  .system {
    display: block; /*///////////////// NEW */
  }

  .flex-platform-release {
    justify-content: space-between;
  }

  .platform {
    justify-content: center;
  }
}

@media only screen and (min-width: 890px) {
  .container {
    margin-top: 1rem;
  }
  .rate {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1rem auto;
    width: 100%;
  }

  .ratings-box {
    display: flex;
    border-radius: 6px;
    color: white;
    align-items: center;
    width: 100%;
  }

  .recommended {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .platform span {
    display: initial;
  }

  .intro-heading {
    width: 50%;
    padding: 0 3rem 0 1.5rem;
    text-align: left;
  }
}

@media only screen and (min-width: 1050px) {
  h1 {
    font-size: 4.4rem;
    text-align: left;
    /*     margin-left: 2rem; */
  }

  .img-details-info-wrap {
    width: 50%;
    height: 1000px;
    padding: 1rem;
  }

  .img-header {
    height: 55%;
  }

  .flex-platform-release {
    flex-direction: row;
  }

  /* #buy {
    margin: 3rem 0;
  }
 */
  /* vurder plass */

  /* 
.container {
  display: flex;
  flex-wrap: wrap;
} */
}
